<div class="chart"  ng-style="getBackgroundColor()">
    <!-- Title and config -->
    <div class="chart-header text-bold grid-stack-item-content" style="height: 15%;" ng-style="getTextColor()">
        <div>{{ config.name }}</div>
        <div class="chart-bts-action">
            <span ><i class="fa fa-times" ng-click="onDeleteChartHandler()"></i></span>
            <span ><i class="fa fa-cog" ng-click="triggerToolbox()"></i></span>
        </div>
    </div>

    <!-- Charts -->
    <div ng-if="!isLoading" ng-switch="config.chartType" style="height: 85%;">

        <!-- line -->
        <canvas ng-switch-when="line"
            class="chart chart-line" 
            chart-data="data"
            chart-labels="labels" 
            chart-series="series"
            chart-options="options"
            chart-colors="colors"
            chart-dataset-override="datasetOverride">
        </canvas>

        <!-- bar -->
        <canvas ng-switch-when="bar"
            class="chart chart-bar"
            chart-data="data" 
            chart-labels="labels"
            chart-series="series"
            chart-options="options"
            chart-colors="colors"> 
        </canvas>

        <!-- pie -->
        <canvas ng-switch-when="pie"
            class="chart chart-pie"
            chart-data="data" 
            chart-labels="labels" 
            chart-options="options"
            chart-colors="colors">
        </canvas>

        <!-- polar -->
        <canvas ng-switch-when="polar"
            class="chart chart-polar-area"
            chart-data="data" 
            chart-labels="labels" 
            chart-options="options"
            chart-colors="colors">
        </canvas>

        <!-- radar -->
        <canvas ng-switch-when="radar"
            class="chart chart-radar"
            chart-data="data" 
            chart-labels="labels" 
            chart-options="options"
            chart-colors="colors">
        </canvas>

        <!-- bubble -->
        <canvas ng-switch-when="bubble"
            class="chart chart-bubble"
            chart-data="data" 
            chart-labels="labels" 
            chart-series="series"
            chart-options="options"
            chart-colors="colors">
        </canvas>

    </div>


    <!-- loading -->
    <div class="loading color-blue" ng-if="isLoading">
        <span><i class="fa fa-spinner fa-spin"></i></span>
    </div>

</div>






<!--<div class="chart-tile">
    <div class="chart" ng-drop="true" ng-drop-success="onDropComplete($data,$event)">
        <span class="chart-close-btn"><i class="fa fa-cog" ng-click="triggerToolbox()"></i></span>  
        ID : {{item.name}}
    </div> 
</div> -->