.toolbox {
  /* DATASOURCES */ }
  .toolbox #mobile-nav-menu {
    float: right;
    width: 320px;
    background: white;
    font-size: 12px;
    /* margin-top: 60px; */
    padding: 0;
    position: absolute;
    right: 35px;
    overflow: hidden;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    border-bottom-left-radius: 24px;
    /*border-bottom: 1px solid rgba(34, 34, 34, 0.3);*/
    top: 0;
    bottom: 60px; }
  .toolbox .ng-hide-remove {
    -webkit-animation: 0.5s slideIn ease;
    -moz-animation: 0.5s slideIn ease;
    animation: 0.5s slideIn ease; }
  .toolbox .ng-hide-add {
    -webkit-animation: 0.5s slideOut ease;
    -moz-animation: 0.5s slideOut ease;
    animation: 0.5s slideOut ease;
    display: block !important; }

@keyframes slideIn {
  0% {
    right: -270px; }
  100% {
    right: 35px; } }

@keyframes slideOut {
  0% {
    right: 35px; }
  100% {
    right: -270px; } }
  .toolbox .toolbox-close-btn {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer; }
  .toolbox .toolbox-main-container {
    margin: 100px 15px 0px 15px;
    height: 100%;
    overflow: auto;
    padding-bottom: 220px; }
    .toolbox .toolbox-main-container > div {
      height: 100%;
      overflow: auto; }
  .toolbox h3 {
    position: absolute;
    top: 20px; }
  .toolbox .datasources-container > div:not(:last-child) {
    margin-bottom: 20px; }
  .toolbox .save-btn-ds-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 30px 40px;
    background-color: #3e64a0;
    box-shadow: 0px -12px 18px 0 rgba(0, 0, 0, 0.4); }
    .toolbox .save-btn-ds-container > div {
      background-color: white;
      border-radius: 4px;
      padding: 10px;
      cursor: pointer; }
