<div class="multi-dropdown">
    
    <!-- Dataset header -->
    <div class="datasource-label" ng-click="datasource.expanded = !datasource.expanded">
        <div>
            <span><i class="fa fa-database"></i></span>        
            <span>{{ datasource.name }}</span> 
        </div>

        <span><i class="fa" ng-class="datasource.expanded ? 'fa-minus-circle' : 'fa-plus-circle'"></i></span>        
    </div>

    <!-- Expand datasource (datasets) -->
    <div class="datasets" ng-if="datasource.expanded">
        
        <!-- datasets -->
        <div class="datasets-container">
            
            <div ng-repeat="dataset in datasource.datasets">
                <div>
                    <custom-checkbox label="{{dataset.name}}" model="dataset.selected"></custom-checkbox>
                </div>
            </div>

        </div>

        <!-- Hint -->
        <div class="datasets-hint">
            <span><i class="fa fa-lamp"></i> Try to bla sidas d  dassa  adss</span>
        </div>

    </div>

</div>