.multi-dropdown{
    background-color: #dedede;
    overflow: hidden;

    border-radius: 5px;

    .datasource-label {
        padding: 10px;
        color: #313e52;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;

        span:first-child{
            position: relative;

            .label-indicator{
                background-color: red;
                width: 13px;
                height: 13px;
                text-align: center;
                border-radius: 20px;
                color: white;
                position: absolute;
                top: 4px;
                left: 10px;
                font-size: 10px;
                line-height: 13px;
            }
        }
        span:nth-of-type(2){
            margin-left: 10px;
        }
    }

    

    .datasets-hint{
        padding: 10px;
        margin: 20px 0px 0;
        -webkit-box-shadow: 0px 1px 6px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 0px 1px 6px rgba(50, 50, 50, 0.75);
        box-shadow: 0px 1px 6px rgba(50, 50, 50, 0.75);
        
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;

        > span:first-child {
            background-color: white;
            padding: 4px 8px;
            width: 25px;
            border-radius: 25px;
            margin-right: 10px;
            height: 24px;
        }
    }

}