<div class="multi-dropdown">
    
    <!-- Dataset header -->
    <div class="datasource-label" ng-click="datasource.expanded = !datasource.expanded">
        <div>
            <span>
                <i class="fa fa-database fa-lg"></i>
                <div class="label-indicator" ng-if="getTotalSelected() > 0">{{ getTotalSelected() }}</div>
            </span> 

            <span><strong>{{ datasource.name }}</strong></span> 
        </div>

        <span><i class="fa" ng-class="datasource.expanded ? 'fa-minus-circle' : 'fa-plus-circle'"></i></span>        
    </div>

    <!-- Expand datasource (datasets) -->
    <div class="datasets" ng-if="datasource.expanded">
        
        <!-- datasets -->
        <div class="datasets-container">
            
            <div ng-repeat="dataset in datasource.itens">
                <div>
                    <custom-checkbox label="{{dataset.name}}" model="dataset.selected" item="dataset" 
                        on-select="onSelectHandler(itemSelected)"
                        on-unselect="onUnselectHandler(itemSelected)">
                    </custom-checkbox>
                </div>
            </div>

        </div>

        <!-- Hint -->
        <div class="datasets-hint">
            <span><i class="fa fa-lightbulb-o fa-lg"></i> </span> 
            <span>Try to drag your data set into the dashboard</span>
        </div>

    </div>

</div>