<div class="menu-toolbox">
    <div>
        <h4 class="tool-header"> <span><i class="fa fa-lg {{ getChartIcon() }}"></i></span>{{ editingElement.item.name }}:</h4>

        <!-- Chart configurations -->
        <div class="chart-config-container" >

            <!-- Hint -->
            <div class="toolbox-hint">
                <span><i class="color-blue fa fa-exclamation-circle fa-lg"></i> </span> 
                <span>Here you can change everything about your graphic. Style, fields...</span>
            </div>

            <!-- Identification -->
            <div class="chart-header-container">
                
                <!-- Form -->                
                <custom-input label="Graphic Name" model="editingElement.item.name"></custom-input>
                <custom-input label="Fields" readonly="true" model="editingElement.item.fields.length"></custom-input>                
                
            </div>
            
            <!-- Colors -->
            <div class="colors-container">
                <custom-color-picker label="Background color" model="editingElement.item.backgroundColor"></custom-color-picker>                
                <custom-color-picker label="Text and grid color" model="editingElement.item.color"></custom-color-picker>                
            </div>

            <!-- X Fields -->
            <div class="charts-fiels">
                <label class="color-blue">Chart Axis</label>

                <uib-accordion close-others="true">
                    <div uib-accordion-group class="panel-default" heading="{{ datasource.name }}" is-open="false" is-disabled="false" ng-repeat="datasource in chartXFields">
                        <div ng-repeat="dataset in datasource.itens">
                            <multi-dropdown single="true" datasource="dataset" on-add-item="onAddXFieldHandler(itemSelected)" on-remove-item="onRemoveXFieldHandler(itemSelected)"></multi-dropdown>
                            <br>
                        </div>  
                    </div>                         
                </uib-accordion>
            </div>

            <!-- Y Fields -->
            <div class="charts-fiels">
                <label class="color-blue">Chart Values</label>

                <uib-accordion close-others="true">
                    <div uib-accordion-group class="panel-default" heading="{{ datasource.name }}" is-open="false" is-disabled="false" ng-repeat="datasource in chartYFields">
                        <div ng-repeat="dataset in datasource.itens">
                            <!-- others chart use single Y -->
                            <multi-dropdown ng-if="editingElement.item.chartType !== 'pie'" datasource="dataset" on-add-item="onAddYFieldHandler(itemSelected)" on-remove-item="onRemoveYFieldHandler(itemSelected)"></multi-dropdown>
                            <!-- pie chart use single Y -->
                            <multi-dropdown ng-if="editingElement.item.chartType === 'pie'" single="true" datasource="dataset" on-add-item="onAddYFieldHandler(itemSelected)" on-remove-item="onRemoveYFieldHandler(itemSelected)"></multi-dropdown>
                            <br>
                        </div>  
                    </div>                         
                </uib-accordion>
            </div>

            <!-- Functions -->
            <div class="charts-fiels">
                <label class="color-blue">Fields Functions</label>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Y Field</th>
                            <th scope="col">Function</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="field in editingElement.item.fields">
                            <td class="table-field-name">{{field.name}}</td>
                            <td><select class="form-control" ng-model="field.function" ng-options="opt.Value as opt.Key for opt in fieldsFunctions"></select></td>
                        </tr>
                        
                    </tbody>
                </table>
                <!--<select class="form-control" ng-model="mstep" ng-options="opt for opt in [1,2,3]"></select> -->
            </div>

            <!-- Details: BAR -->
            <div ng-if="editingElement.item.chartType.toLowerCase() === 'bar'">


            </div>

            <!-- Save Button -->
            <div class="save-btn-container">
                <div ng-click="updateChart()">
                    <span>Save Settings</span>
                </div>
            </div>

        </div>


    </div>
</div>