<div class="menu-toolbox">
    <div>
        <h4 class="tool-header"> <span><i class="fa fa-lg {{ editingElement.item.icon }}"></i></span>{{ editingElement.item.actionName }}:</h4>
        
        <!-- TYPE: USER -->
        <div class="user-container" ng-if="editingElement.item.type === 'USER'">
            <!-- Hint -->
            <div class="toolbox-hint">
                <span><i class="color-blue fa fa-exclamation-circle fa-lg"></i> </span> 
                <span>You can change your personal settings, take the lead...</span>
            </div>

            <!-- User header -->
            <div class="header">
                <!-- Photo -->
                <div class="photo-container"> 
                    <img src="assets/img/user-photo.png">
                </div>

                <!-- Detail -->
                <div class="resume-container color-blue">
                    <p class="text-lg text-bold">Mr. Manual Vaz Silva</p>
                    <p class="text-bold">Singular Data Co-Worker</p>
                    <span class="text-bold ">Status:&nbsp;</span><span>Online</span>
                    <!-- Logout -->
                    <div class="logout color-blue">
                        <span class="background-blue color-white"><i class="fa fa-sign-out fa-lg color-white"></i></span>
                        <span>Log off</span>
                    </div>
                </div>
            </div>

            <!-- Greetings -->
            <p class="greetings text-xl color-blue">Hi, you can edit your profile here!</p>

            <!-- Form -->
            <div class="form-container">
                <custom-input label="Name" model="userInfo.username"></custom-input>
                <custom-input label="Surname" model="userInfo.surname"></custom-input>
                <custom-input label="Address" model="userInfo.address"></custom-input>
                <custom-input label="Company" model="userInfo.company"></custom-input>
                <custom-input label="Old Password" model="userInfo.password" type="password"></custom-input>
                <custom-input label="New Password" model="userInfo.newpw" type="password"></custom-input>
            </div>

            <!-- Save Button -->
            <div class="save-btn-container">
                <div>
                    <span>Save Settings</span>
                </div>
            </div>

        </div>
        
        <!-- TYPE: DATASOURCE -->
        <div class="datasources-container" ng-if="editingElement.item.type === 'DATASOURCES'">
            
            <!-- Hint -->
            <div class="toolbox-hint">
                <span><i class="color-blue fa fa-exclamation-circle fa-lg"></i> </span> 
                <span>Choose your Data Source and select your data set to work on the dashboards</span>
            </div>
            
            <div ng-repeat="datasource in editingElement.data">
                <multi-dropdown datasource="datasource"></multi-dropdown>
            </div>

            <!-- Save Button -->
            <div class="save-btn-container">
                <div ng-click="updateDataSourceSets()">
                    <span>Save Settings</span>
                </div>
            </div>
            
        </div>

        <!-- TYPE: VISUAL_ITEMS -->
        <div class="visual-config-container" ng-if="editingElement.item.type === 'VISUAL_ITEMS'">
            <div class="column" ng-repeat="visualConfig in editingElement.data" >                
                <!-- visual element -->
                <div class="visual-config-element">
                    <div ng-drag="true" ng-drag-data="visualConfig" ng-center-anchor="true"> 
                        <span ng-switch="FrameworkUtils.typeOf(visualConfig)">
                            <!-- pick a icon -->
                            <i ng-switch-when="TextConfigItem" class="fa fa-text-height"></i>                                       
                            <i ng-switch-default class="fa fa-cog"></i>
                        </span>
                    </div>
                </div> 

            </div>
        </div>

        <!-- TYPE: CHART_ITEM_CONFIG (TODO change to Charts) -->
        <div class="chart-item-config-container" ng-if="editingElement.item.type === 'CHART_ITEM_CONFIG'">

            <div class="column" ng-repeat="chartConfig in editingElement.data" >                
                <!-- chart element -->
                <div class="chart-config-element">
                    <div ng-drag="true" ng-drag-data="chartConfig" ng-center-anchor="true"> 
                        <span id="{{ chartConfig.id }}" ng-switch="chartConfig.chartType">
                            <!-- pick a icon -->
                            <i ng-switch-when="line" class="fa fa-line-chart"></i>
                            <i ng-switch-when="bar" class="fa fa-bar-chart"></i>
                            <i ng-switch-when="pie" class="fa fa-pie-chart"></i>
                            <i ng-switch-when="radar" class="fa fa-connectdevelop"></i>       
                            <i ng-switch-when="polar" class="fa fa-compass"></i>    
                            <i ng-switch-when="bubble" class="fa fa-fa-circle-o"></i>                        
                            <i ng-switch-default class="fa fa-area-chart"></i>
                        </span>
                    </div>
                </div> 

            </div>

        </div>
    </div>

    
    
</div>