<div class="menu">

    <ul>
        <!-- Pic -->
        <li class="user-picture" ng-click="userMenu.handler(userMenu.id)">
           
            <!-- Photo -->
            <div class="photo-container" ng-class="{ 'user-selected' : selectedMenu.id === userMenu.id && isToolboxOpened() }">  
                <img src="assets/img/user-photo.png">
                <div class="menu-notch" ng-show="selectedMenu.id === userMenu.id && isToolboxOpened()"></div>
            </div>
            
        </li>

        <hr class="menu-spacer" width="60%">

        <li ng-click="menu.handler(menu.id)" ng-repeat="menu in menus" ng-if="menu.id !== userMenu.id">
            <div class="menu-btn" ng-class="selectedMenu.id === menu.id && isToolboxOpened() ? 'background-white' : 'background-l-blue'">
                <span><i class="fa {{ menu.icon }}" ng-class="{'color-blue' : selectedMenu.id === menu.id && isToolboxOpened() }"></i></span>
            </div>

            <div class="menu-notch" ng-show="selectedMenu.id === menu.id && isToolboxOpened()"></div>
        </li>      
    </ul>

</div>

<div class="menu-left">

</div>



