<div class="chart grid-stack-item-content" ng-drop="true" ng-drop-success="onDropComplete($data,$event)"style="height: 100%;">
    <!-- Title and config -->
    <div class="chart-header color-blue text-bold" style="height: 15%;">
        <div>{{ config.name }}</div>
        <div><span ><i class="fa fa-cog" ng-click="triggerToolbox()"></i></span></div>
    </div>

    <!-- Charts -->
    <div ng-if="!isLoading" ng-switch="config.chartType" style="height: 85%;">

        <!-- line -->
        <canvas ng-switch-when="line"
            class="chart chart-line" 
            chart-data="data"
            chart-labels="labels" 
            chart-series="series"
            chart-options="options">
        </canvas>

        <!-- bar -->
        <canvas ng-switch-when="bar"
            class="chart chart-bar"
            chart-data="data" 
            chart-labels="labels"
            chart-options="options"
            chart-colors="colors"> 
        </canvas>

        <!-- pie -->
        <canvas ng-switch-when="pie"
            class="chart chart-pie"
            chart-data="data" 
            chart-labels="labels" 
            chart-options="options">
        </canvas>

    </div>


    <!-- loading -->
    <div class="loading color-blue" ng-if="isLoading">
        <span><i class="fa fa-spinner fa-spin"></i></span>
    </div>

</div>






<!--<div class="chart-tile">
    <div class="chart" ng-drop="true" ng-drop-success="onDropComplete($data,$event)">
        <span class="chart-close-btn"><i class="fa fa-cog" ng-click="triggerToolbox()"></i></span>  
        ID : {{item.name}}
    </div> 
</div> -->