/* CHECKBOX */
/* The container */
.custom-check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: white;
  padding: 6px 6px 6px 15px;
  border-radius: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 26px; }

/* Hide the browser's default checkbox */
.custom-check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.custom-checkmark {
  position: absolute;
  top: 7px;
  right: 10px;
  height: 15px;
  width: 15px;
  background-color: #313e52;
  border-radius: 20px; }

/* On mouse-over, add a grey background color */
/*.custom-check-container:hover input ~ .custom-checkmark {
    
  }*/
/* Create the custom-checkmark/indicator (hidden when not checked) */
.custom-checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the custom-checkmark when checked */
.custom-check-container input:checked ~ .custom-checkmark:after {
  display: block; }

/* Style the custom-checkmark/indicator */
.custom-check-container .custom-checkmark:after {
  left: 4px;
  top: 0px;
  width: 7px;
  height: 12px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.custom-check-container-selected {
  background-color: #42b75b;
  color: white; }

.custom-checkmark-selected {
  background-color: #42b75b; }
