.snapshot{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4px;

  overflow: hidden;
  .snapshot-header{
      height: 10%;
      min-height: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0px 10px;
  }
  .snapshot-bts-action{
      display: flex;
      flex-direction: row;
      > span:first-child {
          margin-right: 10px;
      }
      > span {
          cursor: pointer;
      }
  }
  .snapshot-close-btn{
      position: absolute;
      right: 10px;
      top: 5px;
  }   
  


  .snapshot-container{
      padding: 10px;
      //overflow: auto;
  }


  .loading{
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 52px;
      transform: translate(-50%, -50%);   
  }

  ul {
    list-style-type: none;
   }

  /* CARD */
  .snapshot-card{

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .snapshot-table {
    overflow: auto;
    height: 100%;
  }
  .snapshot-table tbody{
    overflow: auto;
  }

  /* gauge */
  .snapshot-gauge{
      text-align: center;
  }

}

