<div class="tabset">

    <!-- Tabset container -->
    <uib-tabset active="activeTab">

        <!-- Tab (with charts) -->
        <uib-tab index="$index + 1" ng-repeat="tab in tabCollection" heading="{{tab.title}}" disable="tab.disabled">
            
            <!-- Tab header -->
            <uib-tab-heading>
                <span>{{tab.title}} &nbsp;<i class="fa fa-cog" ng-click="triggerToolbox('TAB', tab)"></i></span>            
            </uib-tab-heading>          

            <div class="container-fluid charts-container" ng-drop="true" ng-drop-success="onDropComplete($data, $event, tab)">                
                <div class="row">
                    <div class="col-md-12">
                        <!-- Grid Stack panel -->
                        <div 
                            gridstack class="grid-stack grid1" 
                            options="gridStackOptions" 
                            on-change="onChange(event, items)" 
                            on-drag-start="onDragStart(event,ui)" 
                            on-drag-stop="onDragStop(event,ui)" 
                            on-resize-start="onResizeStart(event,ui)" 
                            on-resize-stop="onResizeStop(event,ui)">

                            <!-- Grid Stack item (Charts) -->
                            <div 
                                gridstack-item 
                                ng-repeat="chart in tab.charts track by $index" 
                                class="grid-stack-item" 
                                gs-item="{{ {itemType: 'ChartConfigItem', itemConfig: chart} }}"
                                gs-item-x="chart.posX" 
                                gs-item-y="chart.posY"
                                gs-item-width="chart.width" 
                                gs-item-height="chart.heigth" 
                                gs-item-autopos="0">
                                <!-- Chart item -->
                                <chart config="chart" on-trigger-toolbox="triggerToolbox('CHART', item)" on-delete-chart="onDeleteChartHandler(chartConfig, tab)"></chart>
                            </div>

                            <!-- Grid Stack item (Visual items) -->
                            <div 
                                gridstack-item 
                                ng-repeat="visual in tab.visuals track by $index" 
                                class="grid-stack-item" 
                                gs-item="{{ {itemType: 'VisualConfigItem', itemConfig: visual} }}"
                                gs-item-x="visual.posX" 
                                gs-item-y="visual.posY"
                                gs-item-width="visual.width" 
                                gs-item-height="visual.heigth" 
                                gs-item-autopos="0">
                                <!-- Visual item -->
                                <visual-item config="visual" tab="tab" 
                                    on-trigger-toolbox="triggerToolbox('VISUAL_ITEM', item)" 
                                    on-delete-visual="onDeleteVisualHandler(visualConfig, tab)"
                                    on-child-trigger-toolbox="triggerToolbox(type, item)" 
                                    on-child-delete-chart="onDeleteChartHandler(chartConfig, tab)"
                                    on-child-delete-snapshot="onDeleteSnapshotHandler(snapshotConfig, tab)"
                                    on-child-delete-visual="onDeleteVisualHandler(visualConfig, tab)"></visual-item>
                                
                            </div>

                            <!-- Grid Stack item (Snapshot items) -->
                            <div 
                                gridstack-item 
                                ng-repeat="snapshot in getItemsByCollection(tab, 'snapshots') track by $index" 
                                class="grid-stack-item" 
                                gs-item="{{ {itemType: 'SnapshotConfigItem', itemConfig: snapshot} }}"
                                gs-item-x="snapshot.posX" 
                                gs-item-y="snapshot.posY"
                                gs-item-width="snapshot.width" 
                                gs-item-height="snapshot.heigth" 
                                gs-item-autopos="0">
                                <!-- snapshot item -->
                                <snapshot config="snapshot" on-trigger-toolbox="triggerToolbox('SNAPSHOT', item)" on-delete-snapshot="onDeleteSnapshotHandler(snapshotConfig, tab)"></chart>
                                
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </uib-tab>        

        <!-- Tab to add more (+) -->
        <li class="uib-tab nav-item" ng-click="addNewTabHandler($event)">
            <a href="" class="nav-link">
                <span><i class="fa fa-plus"></i></span>       
            </a>
        </li>

        <ng-transclude></ng-transclude>


    </uib-tabset>

</div>

<!--
    https://github.com/kdietrich/gridstack-angular
    https://github.com/gridstack/gridstack.js/tree/develop/doc#options
    http://kdietrich.github.io/gridstack-angular/demo/#
-->