.toolbox{

    
  #mobile-nav-menu {
    float: right;
    width: 320px;
    background: white;
    font-size: 12px;
    /* margin-top: 60px; */
    padding: 0;
    position: absolute;
    right: 35px;
    overflow: hidden;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(34, 34, 34, 0.3);
    top: 0;
    bottom: 0;
  }

  
  .ng-hide-remove {
    -webkit-animation: 0.5s slideIn ease;
    -moz-animation: 0.5s slideIn ease;
    animation: 0.5s slideIn ease;
  }
  
  .ng-hide-add {
    -webkit-animation: 0.5s slideOut ease;
    -moz-animation: 0.5s slideOut ease;
    animation: 0.5s slideOut ease;
    display: block !important;
  }
  
  @keyframes slideIn {
    0% {
      right: -270px;
    }
    100% {
      right: 35px;
    }
  }
  @keyframes slideOut {
    0% {
      right: 35px;
    }
    100% {
      right: -270px;
    }
  }
  
  .toolbox-close-btn{
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer
  }

  .toolbox-main-container{
    margin: 30px 15px 0 15px;
  }
      
}

