<div class="menu-toolbox">
    <div>
        <h3> <span><i class="fa {{ editingElement.item.icon }}"></i></span>&nbsp;{{ editingElement.item.actionName }}:</h3>
        
        
        <!-- TYPE: DATASOURCE -->
        <div class="datasources-container" ng-if="editingElement.item.type === 'DATASOURCES'">
            
            <div ng-repeat="datasource in editingElement.data">
                <multi-dropdown datasource="datasource"></multi-dropdown>
            </div>

            <!-- Save Button -->
            <div class="save-btn-ds-container">
                <div>
                    <span>Save Settings</span>
                </div>
            </div>
            
        </div>

        <!-- TYPE: GRAPHIC_CHART -->
        <div ng-if="editingElement.item.type === 'GRAPHIC_CHART'">

            Charts 
        </div>

        <!-- TYPE: GRAPHIC_PIE -->
        <div class="graphic-pie-container" ng-if="editingElement.item.type === 'GRAPHIC_PIE'">

            <div class="column" ng-repeat="pieItem in editingElement.data">
                
                <!-- Pie element -->
                <div class="pie-element">
                    <div ng-drag="true" ng-drag-data="{pieItem}" ng-center-anchor="true"> 
                    <span id="{{ pieItem.id }}"><i class="fa {{ pieItem.icon }}"></i></span>
                </div>
                </div> 

            </div>

        </div>
    </div>

    
    
</div>